@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.container{
	background-color: #CBC29B
;
	font-family: "Roboto", sans-serif;
}
header img{
	width: 106px;
	margin: 0 auto;
	display: inline;
}
header{
		background-color: #CBC29B;
		margin-top: 100px;
		margin-bottom: 15px;
}
header p{
	font-size: 23px;
	margin: 0;
	margin-top: 7px;
	font-weight: bold;
	color: #795548;;
}
header small{
	font-size: 11px;
	margin: 0;
	color: #795548;
}
form input{
	width: 290px;
	margin: 13px 0;
	border: none;
	padding: 9px;
	font-size: 15px;
}
#btn{
	background-color: #388E3C;
	letter-spacing: 2px;
	border-radius: 0;
	font-size: 15px;
}
@media and screen(max-width: 987px){
	.inner header{
		width: 100%;

	}
	.inner header p{
			font-size:  8px;
	}
}
@media only screen and (max-width: 500px) {
    form input{
	width: 250px;
	margin: 13px 0;
}
}

.error{

	border: 1px solid red !important;
}